<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
	
    <add name="DbConection" connectionString="Data Source=172.16.51.13;Initial Catalog=BD_SQL_CALCULADORA_AV_23062021;User ID=FSW_NET;Password=4z3RT!@08;" providerName="System.Data.SqlClient" />
    <!--<add name="DbConection" connectionString="Data Source=172.16.51.18;Initial Catalog=BD_SQL_CALCULADORA_AV_23062021;User ID=FSW_NET;Password=4z3RT!@08;" providerName="System.Data.SqlClient" />-->
   
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <pages>
      <controls>
        <add tagPrefix="uc" src="~/Controles/Navegacion.ascx" tagName="Navegacion"/>
        <add tagPrefix="uc" src="~/Controles/MensajePiePagina.ascx" tagName="MensajePie"/>
        <add tagPrefix="uc" src="~/Controles/MensajeBanner.ascx" tagName="MensajeBanner" />
      </controls>
    </pages>
		<httpRuntime/>
		<globalization uiCulture="es" culture="es-MX" />
	</system.web>
	<system.webServer>

    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
        <remove value="default.aspx" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />

        <!--Cuando es calculadora IMSS-->
        <add value="CalculadoraIMSS.aspx"/>
        
        <!--Cuando es calculadora independiente
        <add value="CalculadoraIndi.aspx"/>-->
      </files>
    </defaultDocument>
    
    
    
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="X-UA-Compatible" value="IE=edge"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>